body{
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
}
.section-one{
    display: flex;
}

.color-orange{
    color: orange;
}
.all-button{
    color: white;
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px 20px;
    border-radius: 3px;
}