body{
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    margin: 8%;
}
.section-flex{
    display: flex;
    margin-bottom: 8%;
}

.color-orange{
    color: orange;
}
.all-button{
    color: white;
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px 25px;
    border-radius: 3px;
}
.my-bio{
    padding-right: 20%;
}
.third-section-bio{
    padding-left: 20%;
}
h1{
    font-size: 55px;
    padding-left: 20px;
    font-weight: 500;
}
h2{
    text-align: center;
    font-size: 40px;

    font-weight: 700;
}
h4{
    font-size: 30px;
    font-weight: 700;
}

#left-border{
    border-left: 5px solid #ff5959;
}
#mission-bg{
    background-color: #edf5f6;
    margin-right: 40px;
    padding:5%;
    border-radius: 5%;
}
#vission-bg{
    background-color: #ffeeee;
    margin-right: 40px;
    padding:5%;
    border-radius: 5%;
}
#goals-bg{
    background-color: #fff4d6;
    padding:5%;
    border-radius: 5%;
}
.right{
    flex: 1;
    margin-left: 30px];
}
.right .line{
    margin-bottom: 50px;
}
.right .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right .info span{
    font-weight: 500;
    font-size: 18px;
}
.right .bars{
    background-color: lightgray;
    height: 8px;
    width: 100%;
    position: relative;
}
.right .bars::before{
    content: "";
    position: absolute;
    height: 100%;
    background-color: #ff5959;
}
.right .html::before{
    width: 95%;
}
.right .css::before{
    width: 90%;
}
.right .php::before{
    width: 45%;
}
.right .js::before{
    width: 55%;
}
.skills{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    background-color: #0b0d17;
    margin-top: 200px;
    padding-top: 1%;
    padding-bottom: 2%;
}
footer h4{
    font-family: 'Lobster', cursive;
}
.light-red{
    color: #ff5959;
}